name: Build test

on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  buildtest:
    runs-on: ubuntu-latest

    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Install Packages
        run: |
          sudo apt-get update -y
          sudo apt-get install -y \
            dialog bash sed wget git curl zip tar jq expect make cmake automake autoconf \
            llvm lld lldb clang gcc binutils bison perl gperf gawk flex bc python3 zstd \
            openssl unzip cpio build-essential ccache liblz4-tool libsdl1.2-dev libstdc++6 \
            libxml2 libxml2-utils lzop pngcrush schedtool squashfs-tools xsltproc zlib1g-dev \
            libncurses5-dev bzip2 gcc-aarch64-linux-gnu gcc-arm-linux-gnueabihf \
            gcc-arm-linux-gnueabi dos2unix kmod

      - name: Clone Kernel Source
        run: |
          git clone --depth=1 https://github.com/Motorola-SM6375-Devs/android_kernel_motorola_sm6375.git kernel

      - name: Download External build.sh
        run: |
          wget https://raw.githubusercontent.com/rahmatsobrian/android_kernel_sm6375/main/build.sh -O kernel/build.sh
          chmod +x kernel/build.sh

      - name: Setup ZYC Clang
        run: |
          mkdir -p clang-zyc
          cd clang-zyc
          wget -q $(curl -k https://raw.githubusercontent.com/ZyCromerZ/Clang/main/Clang-16-link.txt) -O zyc-clang.tar.gz
          tar -xf zyc-clang.tar.gz
          rm -f zyc-clang.tar.gz

      - name: Start Build (with log)
        run: |
          cd kernel
          mkdir -p logs
          bash build.sh 2>&1 | tee logs/build.txt

      - name: Upload Build Log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-log
          path: kernel/logs/build.txt

      - name: Upload AnyKernel Zip
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: anykernel-zip
          path: kernel/AnyKernel/*.zip

      - name: Upload Kernel Image
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: image
          path: kernel/out/arch/arm64/boot/Image

      - name: Upload Kernel Image Gzip
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: image-gz
          path: kernel/out/arch/arm64/boot/Image.gz

      - name: Upload DTB
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: image-gz-dtb
          path: kernel/out/arch/arm64/boot/Image.gz-dtb
